.worker-myinfo {
  background-color: #f5f3ef;
  border-radius: 10px;
  padding: 40px 60px;
  color: #000;
  height: 100%;
}

.info-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #000000;
}

.info-form {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.info-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

.edit-label {
  color: #66070F;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
}

.edit-label:hover {
  color: #9E6D72;
}

.info-fields {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 400px;
}

.info-fields label {
  font-size: 15px;
  font-weight: 500;
}

.info-fields input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  background-color: #ffffff;
  transition: 0.2s;
}

.info-fields input:focus {
  border-color: #66070F;
}

.submit-btn {
  background-color: #66070F;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  align-self: flex-end;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #9E6D72;
}
