.admin-layout {
  display: flex;
  height: 100vh;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Poppins", sans-serif;
}

.admin-sidebar {
  width: 240px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid #CFCFCF;
  overflow: hidden;
}

.admin-header {
  text-align: center;
  padding: 35px 20px 28px 20px;
  border-bottom: 1px solid #CFCFCF;
}

.admin-title {
  font-size: 19px;
  color: #000000;
  margin: 0;
  font-weight: 600;
}

.admin-name {
  color: #66070F;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
}

.admin-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 25px;
}

.admin-menu a {
  text-decoration: none;
}

.admin-menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: none;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  border-radius: 0 12px 12px 0; 
  padding: 10px 16px;
  text-align: left;
  transition: all 0.25s ease;
  width: 75%; 
}

.admin-menu-item:hover,
.admin-menu-item.active {
  background-color: #9E6D72;
  color: #FFFFFF;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15);
}

.menu-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.admin-footer {
  border-top: 1px solid #CFCFCF;
  padding: 22px 20px 25px 20px;
  display: flex;
  justify-content: center;
  margin-top: auto; 
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-size: 13px;
  transition: 0.3s;
}

.logout-btn:hover {
  color: #66070F;
}

.admin-main {
  flex: 1;
  padding: 40px;
  background-color: #F5F3EF;
  min-height: 100vh;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.admin-main-title {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}
