.adminservices-container {
  display: flex;
  background-color: #f5f3ef;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 40px;
  gap: 40px;
  font-family: "Poppins", sans-serif;
}

.adminservices-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #f3f0ec;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  box-sizing: border-box;
}

.adminservices-item {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.adminservices-item.active {
  background-color: #66070f;
  color: #fff;
  border-color: #66070f;
}

.adminservices-icon {
  font-size: 16px;
  font-weight: bold;
}

.adminservices-add {
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #66070f;
  color: #66070f;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.adminservices-add:hover {
  background-color: #66070f;
  color: #fff;
}

.adminservices-add-icon {
  font-size: 18px;
  font-weight: 700;
}

.adminservices-right {
  flex: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adminservices-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adminservices-input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.adminservices-input-group label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.adminservices-input-group input,
.adminservices-input-group textarea {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  resize: none;
  transition: 0.3s;
}

.adminservices-input-group input:focus,
.adminservices-input-group textarea:focus {
  border-color: #66070f;
  outline: none;
}

.adminservices-submit {
  align-self: flex-start;
  background-color: #66070f;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 22px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.adminservices-submit:hover {
  background-color: #8e444b;
}

.adminservices-delete {
  align-self: flex-start;
  background: none;
  border: none;
  color: #66070f;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
  transition: color 0.3s;
}

.adminservices-delete:hover {
  color: #8e444b;
}
