.admin-reports {
  display: flex;
  justify-content: space-between;
  background-color: #f5f3ef;
  height: 100%;
  padding: 30px 40px;
  box-sizing: border-box;
  gap: 40px;
  font-family: "Poppins", sans-serif;
}


.reports-left {
  flex: 2;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.reports-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}


.reports-content {
  display: flex;
  gap: 40px;
  align-items: stretch; 
}

.centers-table {
  border-collapse: collapse;
  width: 70%;
  min-width: 500px;
  height: 100%; 
}

.centers-table th,
.centers-table td {
  border: 1px solid #999;
  padding: 10px 14px;
  text-align: left;
  font-size: 15px;
}

.sales-table {
  border-collapse: collapse;
  width: 30%;
  min-width: 230px;
  height: 100%; 
}

.sales-table th,
.sales-table td {
  border: 1px solid #999;
  padding: 10px 14px;
  text-align: left;
  font-size: 15px;
}

.sales-table th {
  text-align: center;
}

.reports-filter {
  flex: 0.8;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-self: stretch;
  height: 100%;
  box-sizing: border-box;
}

.reports-filter h3 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000;
}

.filter-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.filter-group label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 6px;
}

.filter-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #fff;
  transition: 0.2s;
}

.filter-group input:focus {
  border-color: #66070f;
  outline: none;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.check-btn,
.financial-btn {
  background-color: #66070f;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.check-btn:hover,
.financial-btn:hover {
  background-color: #8e444b;
}

.financial-btn {
  margin-top: auto; 
}
